@model Sales

<h3>@Model.SalesID Information</h3>

<table class="table">
    <tr>
        <th>Sales ID</th>
        <th>Product ID</th>
        <th>Quantity</th>
        <th>Price Per Unit</th>
        <th>Date</th>
        <th>Employee ID</th>
    </tr>
    <tr>
        <td>@Model.SalesID</td>
        <td>@Model.ProductID</td>
        <td>@Model.Quantity</td>
        <td>@Model.PricePerUnit</td>
        <td>@Model.Date</td>
        <td>@Model.EmployeeID</td>
    </tr>

</table>
